.unity-platforms__search-element-filter-popup
{
}

.unity-platforms__search-element-filter-popup__header
{
    padding-top: 5px;
    padding-left: 5px;
    padding-bottom: 2px;
    opacity: 0.7;
}

.unity-platforms__search-element-filter-popup__choices
{
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 2px;
}

.unity-platforms__search-element-filter-popup__choice-button
{
    flex-direction: row;
}

.unity-platforms__search-element-filter-popup__choice-button:hover
{
    background-color: #3b7ae4;
}

.unity-platforms__search-element-filter-popup__choice-name
{
    flex-grow: 1;
}

.unity-platforms__search-element-filter-popup__choice-token
{
    -unity-font-style: bold;
}
