.entities-journaling-window__separator
{
    border-color: #232323;
}

.entities-journaling-window__record:hover
{
    background-color: #464646;
}

.entities-journaling-window__record:checked .unity-toggle__input
{
    background-color: #464646;
}

.entities-journaling-window__record .unity-toggle__checkmark
{
    background-image: resource("icons/d_record off.png");
}

.entities-journaling-window__record:checked .unity-toggle__checkmark
{
    background-image: resource("icons/d_record on.png");
}

.entities-journaling-window__export-container:hover
{
    background-color: #464646;
}

.entities-journaling-window__export
{
    background-image: resource("icons/d_saveas.png");
}

.entities-journaling-window__clear:hover
{
    background-color: #464646;
}

.entities-journaling-window__details-container:hover
{
    background-color: #464646;
}

.entities-journaling-window__details
{
    background-image: resource("icons/d_unityeditor.inspectorWindow.png");
}

.entities-journaling-window__footer
{
    border-color: #232323;
}
