.structural-changes-profiler-window__options
{
    background-image: resource("builtin skins/darkskin/images/pane options.png");
}

.structural-changes-profiler-window__options:hover
{
    background-color: #555555;
}

.structural-changes-profiler-window__header
{
    background-color: #3e3e3e;
}

.structural-changes-profiler-window__column2
{
    border-color: #5f5f5f;
}

.structural-changes-profiler-window__column3
{
    border-color: #5f5f5f;
}
