.live-link-connections-dropdown__status--connected { background-image: url("../Icons/Connected@2x.png"); }
.live-link-connections-dropdown__status--error { background-image: url("../Icons/ConnectionError@2x.png"); }
.live-link-connections-dropdown__status--soft-disconnected { background-image: url("../Icons/Disconnected@2x.png"); }

.live-link-connections-dropdown__footer {
    border-color: #7f7f7f;
}