.spinner-icons
{
    --spinner-icon-0: resource("Packages/com.unity.entities/Editor Default Resources/icons/light/Spinner/Spinner00.png");
    --spinner-icon-1: resource("Packages/com.unity.entities/Editor Default Resources/icons/light/Spinner/Spinner01.png");
    --spinner-icon-2: resource("Packages/com.unity.entities/Editor Default Resources/icons/light/Spinner/Spinner02.png");
    --spinner-icon-3: resource("Packages/com.unity.entities/Editor Default Resources/icons/light/Spinner/Spinner03.png");
    --spinner-icon-4: resource("Packages/com.unity.entities/Editor Default Resources/icons/light/Spinner/Spinner04.png");
    --spinner-icon-5: resource("Packages/com.unity.entities/Editor Default Resources/icons/light/Spinner/Spinner05.png");
    --spinner-icon-6: resource("Packages/com.unity.entities/Editor Default Resources/icons/light/Spinner/Spinner06.png");
    --spinner-icon-7: resource("Packages/com.unity.entities/Editor Default Resources/icons/light/Spinner/Spinner07.png");
    --spinner-icon-8: resource("Packages/com.unity.entities/Editor Default Resources/icons/light/Spinner/Spinner08.png");
    --spinner-icon-9: resource("Packages/com.unity.entities/Editor Default Resources/icons/light/Spinner/Spinner09.png");
    --spinner-icon-10: resource("Packages/com.unity.entities/Editor Default Resources/icons/light/Spinner/Spinner10.png");
    --spinner-icon-11: resource("Packages/com.unity.entities/Editor Default Resources/icons/light/Spinner/Spinner11.png");
}

