.InspectorHeader {
    border-bottom-color: rgb(127, 127, 127);
}

.InspectorHeader__Icon {
    background-image: resource('ScriptableObject Icon');
}

.CustomInspectorSection__Header {
    background-color: rgb(203, 203, 203);
}

.CustomInspectorSection__HelpIcon {
    background-image: resource('_Help.png');
}