.active-build-config-dropdown__input
{
    border-color: #191919;
    background-color: #383838;
}

.active-build-config-dropdown__input:hover
{
    background-color: #424242;
}

.active-build-config-dropdown__arrow
{
    background-image: resource("uipackageresources/images/d_dropdown.png");
}
