.foldout-field__icon-open
{
    background-image: resource("builtin skins/darkskin/images/in foldout on.png");
}

.foldout-field__icon-closed
{
    background-image: resource("builtin skins/darkskin/images/in foldout.png");
}
